html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
     word-wrap: break-word;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
margin-right: 15px;
}

.navbar ul li a {
text-decoration: none;
color: #333;
font-size: 16px;
transition: color 0.3s ease;
}

.navbar ul li a:hover {
color: #666;
}

.header{
    padding: 0;
    margin: 0;
}
.custom-row{
    margin: 15px;
}

/* gallery styles */

.article{
    background-color: red;
    margin: 10px;
    
}

.rounded-box {
    border: 2px solid #000; /* ������� � ���� ����� */
    border-radius: 10px; /* ������ ����������� ����� */
    padding: 20px; /* ������� ������ �������� */
    margin: 10px;
    text-align:center;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 ������� */
    grid-gap: 20px; /* ���������� ����� ������� */
}

.gallery-item {
    position: relative;
    border: 1px solid #000;  
    border-radius: 20px;  
    padding: 10%;  
    margin: 10px;
    text-align: center;
    background-color: gray;
    color: black;
}
.details {
    border: 1px solid rgba(29, 5, 138, 0.39);
    border-radius: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    background-color: white;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
.article-title{
    text-align:center;
}

.nav{
    text-decoration:nonce;
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery-item {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-bottom: 10px;
}

    .image-gallery-item img {
        max-width: 100%;
        height: auto;
    }


